/* * {
  margin: 0;
  padding: 0;
} */

:root {
  --brown: #312b29;
  --red: #ef3c46;
  --white: #ffffff;
}

/* mainpage style starts */

.mainpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90vh;
  background-color: var(--brown);
}

.info1 h1 {
  color: var(--white);
  font-weight: 900em;
  font-size: 90px;
}
.main-img {
  margin-left: 200px;
}

.info1 {
  padding-left: 200px;
  padding-right: 70px;
}

.info-buttons {
  padding-left: 200px;
}
.button1 {
  height: 68px;
  width: 180px;
  border-radius: 10px;
  font-size: 25px;
  color: var(--white);
  font-weight: 900;
  background-color: var(--red);
}
.button2 {
  height: 68px;
  width: 250px;
  margin-left: 20px;
  border-radius: 10px;
  border-color: var(--white);
  background-color: var(--brown);
  font-size: 25px;
  color: var(--white);
  font-weight: 900;
}

/* mainpage styles  ends */

/*  secondpage styles  starts */

.secondpage {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.secondpage-header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900em;
  font-size: 58px;
}

.secondpage-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secondpage-image {
  margin-left: 200px;
  /* margin-top: 70px; */
}

.secondpage-content h3 {
  font-weight: 900em;
  font-size: 35px;
  margin-left: 400px;
  /* margin-top: 220px; */
}
.secondpage-content p {
  margin-left: 400px;
  font-size: 23px;
  line-height: 1.4;
}
/* .secondpage-info {
  padding-bottom: 120px;
} */
/*  secondpage styles  ends */

/*  thirdpage styles  starts */
.thirdpage {
  display: flex;
  flex-direction: row;
  background-color: var(--brown);
  align-items: center;
  height: 90vh;
}

.third-page-img {
  margin-left: 400px;
}

.third-page-info h3 {
  font-weight: 900em;
  font-size: 35px;
  margin-left: 200px;
  color: var(--white);
}

.third-page-info p {
  margin-left: 200px;
  color: var(--white);
  font-size: 23px;
  line-height: 1.4;
}
/*  thirdpage styles  ends */

/*  fourthpage styles  starts */

.fourthpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90vh;
}

.fourthpage-info h3 {
  margin-left: 550px;
  font-weight: 900em;
  font-size: 35px;
}

.fourthpage-info p {
  margin-left: 550px;
  font-size: 23px;
  line-height: 1.4;
}

.fourthpage-img {
  margin-left: 200px;
}
/*  fourthpage styles  ends */

/*  footer styles  starts */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: 9vh;
  background-color: var(--brown);
}
.footer p {
  font-size: 17px;
}

/*  footer styles  ends */

/*  responsive styles  starts */

@media (max-width: 800px) {
  .mainpage {
    flex-direction: column;
  }

  .main-img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .secondpage-info {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .thirdpage {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .fourthpage {
    flex-direction: column;
  }
}
